.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    z-index: 10;
    transform: translate(0px, -35px);
    animation: allFadeIn 1s ease;
}

.prev, .next {
    margin-left: 5px;
    margin-right: 5px;
}

.carousel {
    animation: allFadeIn 1s ease;
    --margin: 1rem;

    position: relative;
    width: min(35rem, 100% - 4rem);
    min-height: 30rem;
    margin-top: var(--margin);
    
    &__item {
        background-color: white;
        border-radius: 0.5rem;
        position: absolute;
        height: 80%;
        transform-origin: top;
        transition: all 1s cubic-bezier(0.28, 0.55, 0.385, 1.65);
        width: 100%;
        overflow: hidden;
     
        &:nth-child(1) {
            z-index: 6;
            top: 1rem;
            transform: scale(1.1);
        }
        
        &:nth-child(2) {
            z-index: 5;
            top: 0;
            transform: scale(1);
            opacity: 1; /* Ensure that the second item is visible */
        }

        &:nth-child(3) {
            z-index: 4;
            top: -1rem;
            transform: scale(0.95);
            opacity: 0.8;
        }

        &:nth-child(4) {
            z-index: 4;
            top: -2rem;
            transform: scale(0.9);
            opacity: 0.7;
        }
        
        &:nth-child(n+5) {
            z-index: 3;
            top: -3rem;
            transform: scale(0.8);
            opacity: 0;
        }
    }
}

@keyframes allFadeIn {
    /* From 0% opacity to 100% opacity */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

