@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");
body {
  height: 100%;
  background-image: url("../public/daytime.jpg");
  background-size: 100% 200%;
  font-family: Montserrat, sans-serif;
}


