
.mePic {
    animation: fadeIn 0.7s ease;
}

.about-div {
  max-width: 80%;
  margin: 0px 45px;
  margin-bottom: 40px;

  p {
    text-indent: 20px;
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 0.5s forwards; /* Apply animation */
  }

  /* Define animation */
  @keyframes fadeIn {
    from {
      opacity: 0; /* Start from opacity 0 */
    }
    to {
      opacity: 1; /* End at opacity 1 */
    }
  }

  /* Apply staggered delay to each paragraph */
  p:nth-child(1) {
    animation-delay: 0.3s; /* Delay for the first paragraph */
  }

  p:nth-child(2) {
    animation-delay: 0.4s; /* Delay for the second paragraph */
  }

  p:nth-child(3) {
    animation-delay: 0.5s; /* Delay for the third paragraph */
  }
}
